.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* object-fit: fill; */
  margin: 100px 100px;
  /* background-color: #ffeead; */
}
.cardLayout {
  width: 300px;
  /* opacity: 0.1; */
  margin: 20px;
  box-shadow: 5px;
  cursor: pointer;
}
.img {
  z-index: 100;
}
